body::before {
  content: "";
  background-image: url('/img/decorative-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80vmax;
  width: 80vmax;
  z-index: -1;
  position: fixed;
  top: calc(50% - 40vmax);
  left: calc(50% - 40vmax);
  animation: spin 180s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}