* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
}

html {
  font-size: 1vw;

  @media (max-width: 999px) {
    font-size: 1.125vw;
  }

  @media (max-width: 899px) {
    font-size: 1.25vw;
  }

  @media (max-width: 799px) {
    font-size: 1.43vw;
  }

  @media (max-width: 699px) {
    font-size: 1.675vw;
  }

  @media (max-width: 599px) {
    font-size: 2vw;
  }

  @media (max-width: 499px) {
    font-size: 2.5vw;
  }

  @media (max-width: 399px) {
    font-size: 3.35vw;
  }

  @media (max-width: 299px) {
    font-size: 5vw;
  }
}

/*
 * Now get the text back to a legible size.
 */
body {
  font-size: 1.6em;
}


a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 3em;

  @media (max-width: 799px) {
    padding: 2vmax;
  }

  a {
    color: blue;

    &:visited {
      color: purple;
    }

    &:hover {
      color: red;
    }
  }
}

main {

  p,
  li {
    margin: 1em auto;
    line-height: 1.25
  }
}

h2 {
  border-bottom: 1px solid $primary-text-color;
}

article {
  padding-bottom: 2em;

  >section {
    margin-left: 2.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $primary-text-color;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.formComponent {
  margin: 1em 0;

  >* {
    display: block;
  }
}

aside {
  float: right;

}

.goodProgress::before {
  content: "\25B2 ";
  color: green;
}

.badProgress::before {
  content: "\25BC ";
  color: red;
}

ul,
ol {
  padding-left: 1em;
}

.topicLogo {
  height: auto;
  width: 10rem;
  float: right;
  padding: 0 0 2rem 2rem
}

footer.main {
  border-top: 1px solid $primary-text-color;
  padding: 2em;
  color: $tertiary-text-color;
  display: flex;
  justify-content: space-between;

  @media (max-width: 499px) {
    display: block;
    text-align: center;
  }
}