* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;

  @media (prefers-color-scheme: dark) {
    color: $primary-dark-text-color;
  }
}

html {
  font-size: 1vw;

  @media (max-width: 999px) {
    font-size: 1.125vw;
  }

  @media (max-width: 899px) {
    font-size: 1.25vw;
  }

  @media (max-width: 799px) {
    font-size: 1.43vw;
  }

  @media (max-width: 699px) {
    font-size: 1.675vw;
  }

  @media (max-width: 599px) {
    font-size: 2vw;
  }

  @media (max-width: 499px) {
    font-size: 2.5vw;
  }

  @media (max-width: 399px) {
    font-size: 3.35vw;
  }

  @media (max-width: 299px) {
    font-size: 5vw;
  }
}

/*
 * Now get the text back to a legible size.
 */
body {
  font-size: 1.6em;
}

#__next {
  height: 100%;
  > div {
    height: 100%;
    background: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 3em;

  @media (max-width: 799px) {
    padding: 2vmax;
  }

  a {
    color: blue;

    &:visited {
      color: purple;
    }

    &:hover {
      color: red;
    }

    @media (prefers-color-scheme: dark) {
      color: orange;
      &:visited {
        color: orangered;
      }  
    }
  }
}

main {
  p,
  li {
    margin: 1em auto;
    line-height: 1.25
  }
}

h2 {
  border-bottom: 1px solid $primary-text-color;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: $primary-dark-text-color;
  }
}

h3 {
  font-size: 1.1em;
  font-variant: small-caps;
}

article {
  padding-bottom: 2em;

  >section {
    margin-left: 2.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $primary-text-color;

    @media (prefers-color-scheme: dark) {
      border-bottom-color: $primary-dark-text-color;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.formComponent {
  margin: 1em 0;

  >* {
    display: block;
  }
}

aside {
  float: right;

}

.goodProgress::before {
  content: "\25B2 ";
  color: green;
}

.badProgress::before {
  content: "\25BC ";
  color: red;
}

ul,
ol {
  padding-left: 1em;
}

.topicLogo {
  height: auto;
  width: 10rem;
  float: right;
  padding: 0 0 2rem 2rem
}

pre {
  background: $secondary-background-color;
  padding: 1em;
  border: 1px solid $primary-text-color;

  @media (prefers-color-scheme: dark) {
    background-color: $secondary-dark-background-color;
    border-color: $primary-dark-text-color;
  }
}

.transition-container {
  height: 100%;
  overflow: hidden;

  > div {
    height: 100%;
  }

  @media (max-width: 499px) {
    height: auto;
    > div {
      height: auto;
    }
  }
}

footer.main {
  border-top: 1px solid $primary-text-color;
  padding: 2em;
  color: $tertiary-text-color;
  display: flex;
  justify-content: space-between;

  @media (max-width: 499px) {
    display: block;
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    border-top-color: $primary-dark-text-color;
    color: $tertiary-dark-text-color;
  }
}

.main-wrap {
  background-color: rgba(255,255,255,0.9);
  height: calc(100% - $mainNav-height);
  overflow-y: scroll;

  @media (max-width: 499px) {
    height: auto;
    overflow-y: auto;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0,0,0,0.7);
  }
}