aside.agGrid {
  float: right;
  width: 25%;
  border: 1px solid $tertiary-text-color;
  background-color: $secondary-background-color;
  padding: 1em;
  font-size: 0.9em;
  margin: 0 0 1em 1em;
}

.detail {
  padding: 1em;
}

dl {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0 1em;  
}

dt {
  width: 10em;
  font-weight: bold;
  margin-right: 1em;
}


