aside.agGrid {
  float: right;
  width: 25%;
  border: 1px solid $tertiary-text-color;
  background-color: $secondary-background-color;
  padding: 1em;
  font-size: 0.9em;
  margin: 0 0 1em 1em;
}

.detail {
  padding: 1em;
}