header.main {
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: $primary-background-color;
  color: $tertiary-text-color;
  display: flex;
  align-items: center;
  height: $mainNav-height;
  border-bottom: 1px solid $tertiary-text-color;
  z-index: 1000;

  a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

    transition: 0.5s ease-in;

    &:hover {
      background-color: $secondary-background-color;
    }
  }

  .lead {
    padding: 1em;
    width: 20em;

    a {
      display: flex;
      flex-flow: column;
      align-items: flex-start;

      div:first-child {
        font-size: 1.25em;
      }

      div:last-child {
        font-size: 0.9em;
      }
    }
  }

  .navs {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    >nav {
      display: flex;
      height: 100%;

      a.active {
        background-color: $tertiary-background-color;
      }

      >div {
        position: relative;
        transition: 0.5s ease-in;


        >a {
          padding: 1em;
        }

        >div {
          position: absolute;
          border: 1px solid $tertiary-text-color;
          overflow: hidden;
          opacity: 0;
          transition: 0.5s ease-in;
          width: 10em;
          height: 0;

          >a {
            padding: 0.5em;
            border-bottom: 1px solid $primary-text-color;

            &:last-child {
              border: 0;
            }
          }
        }

        &:hover {
          background: $secondary-background-color;

          >div {
            z-index: 1;
            opacity: 100%;
            background: $primary-background-color;
            height: auto;
          }
        }
      }

      &:last-child {

        a {
          height: 100%;
          padding: 1em;

          &:hover {
            &.icon-file-text2 {
              color: #f90;
            }
            &.icon-linkedin {
              color: #0077b5;
            }

            &.icon-envelop {
              color: #900;
            }

            &.icon-phone {
              color: #0f0;
            }
          }

          @media (max-width: 799px) {
            width: 1em;
          }

        }

        @media (max-width: 799px) {
          margin-right: 1em;
        }

      }
    }

  }

  @media (max-width: 799px) {
    display: block;
    
    .lead {
      width: 100%;
      padding: 0;
      a {      
        flex-flow: row;
        justify-content: space-between;
        align-items: top;
        height: $mainNav-height / 2;
        padding: 0.5em;
      }
    }

    .navs {
      height: $mainNav-height / 2;
    }
  }

  @media (max-width: 499px) {
    position: static;
    display: block;
    height: auto;

    .lead {
      display: block;
      text-align: center;
      height: auto;
    }

    .navs {
      display: block;
      height: auto;

      >nav {
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;

        >div:hover >div {
          display: none;
        }
      }
    }
  }

  @media (max-width: 399px) {
    .lead a {
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 299px) {
    .lead a {
      height: auto;
    }
  }
}